__pycache__/
*.py[cod]
bin/gnome-gpu-info
Makefile.in
Makefile
configure
missing
py-compile
m4/
config.*
autom4te.cache/
aclocal.m4
install-sh
*.appdata.xml
*.policy
*s.desktop
*.valid
*.pot
Makefile.in.in
stamp-it
.intltool-merge-cache
POTFILES
compile
*.gmo
*.gresource
*~
*.o
*.stamp
*.la
*.so
*.dll
*.a
*.exe
*.lo
*.log
*.trs
*.test
.libs/
.deps/
/ar-lib
*.gir
*.typelib
/libtool
/depcomp
/ltmain.sh
